#dog {
	width: 45%;
	float: left;
}

#cat {
	width: 45%;
	float: right;
}

.name {
	font-weight: bold;
	font-size: 2rem;
}

.type {
	font-size: 1rem;
	font-weight: normal;
}

.breeds {
	font-size: 1rem;
	font-weight: normal;
	font-style: italic;
}

li {
	padding: 2px;
}

.volume {
	color: green;
	font-size: .75rem;
}
